#Pandigital number
---

##Задача

Найти такое число, первые $n$ цифр которого делятся нацело с помощью $n$. Число должно состоять из цифр от $0$ до $9$, цифры повторяться не должны.

##Решение

1. $0$ и $5$. Из признаков делимости на $10$ понятно, что число должно заканчиваться на $0$. Тогда на пятом месте будет цифра $5$ (признак делимости на $5$)

$$\_\quad \_\quad \_\quad \_\quad 5\quad \_\quad \_\quad \_\quad \_\quad 0$$
                    
2. Признаки делимости на 2, 4, 6, 8. Во всех этих признаках присутствует условие, что число должно быть чётным

$$
\_\;\begin{bmatrix}2\\4\\6\\8\end{bmatrix}\;
\_\;\begin{bmatrix}2\\4\\6\\8\end{bmatrix}\;
5\;\begin{bmatrix}2\\4\\6\\8\end{bmatrix}\;
\_\;\begin{bmatrix}2\\4\\6\\8\end{bmatrix}\;
\_\;0
$$

Напрашивается вывод, что рядом не будут стоять пары чётных чисел.</p>

3. Проанализируем подробнее признаки делимости на 4 и 8.

Числа, делящиеся на 4

In [7]:
from IPython.display import HTML, display
import tabulate

rows = 7
rowNum = 0
cells = 0

multiples = []

for i in range(1, 100):
    
    if i % 4 == 0:
        if cells == 0:
            multiples.append([])
        m = str(i)
        if len(m) == 1:
            m = '0' + m
        multiples[rowNum].append(m)
        cells += 1
    if cells == rows - 1:
        rowNum += 1
        cells = 0
        
display(HTML(tabulate.tabulate(multiples, tablefmt='html')))

Числа, делящиеся на 8. На месте первого нуля может быть любое чётное число, на месте первой единицы - нечётное

In [8]:
from IPython.display import HTML, display
import tabulate

rows = 7
rowNum = 0
cells = 0

multiples = []

for i in range(1, 200):
    
    if i % 8 == 0:
        if cells == 0:
            multiples.append([])
        m = str(i)
        if len(m) == 1:
            m = 'n0' + m
        elif len(m) == 2:
            m = 'n' + m
        elif len(m) == 3:
            m = 'm' + m[1:]
        multiples[rowNum].append(m)
        cells += 1
    if cells == rows - 1:
        rowNum += 1
        cells = 0
        
display(HTML(tabulate.tabulate(multiples, tablefmt='html')))
# HTML('''<script>
# code_show=true; 
# function code_toggle() {
#  if (code_show){
#  $('div.input').hide();
#  } else {
#  $('div.input').show();
#  }
#  code_show = !code_show
# } 
# $( document ).ready(code_toggle);
# </script>
# <a href="javascript:code_toggle()">Show</a> the Python 3 code''')

Из огромного количества нас интересуют только числа без нулей, пятерок, состоящие из четной+нечетной цифры. Видно, что все числа с первой нечетной цифрой в таблице для 8 нам не подходят ($n$ отвечает за любую чётную цифру, $m$ - за нечётную). Причина – либо два соседних чётных числа в конце, либо два нечетных в начале.

Таким образом, для признака на 4 нам подходят 12, 16, 32, 36, 72, 76, 92, 96.
Для признака на 8 – n16, n32, n72, n96.

Все подходящие цифры заканчиваются на 2 или 6. Значит, на 4 и 8 местах будут именно они. Тогда на 2 и 6 месте – 4 или 8.</p>

$$
\_\;\begin{bmatrix}4\\8\end{bmatrix}\;
\_\;\begin{bmatrix}2\\6\end{bmatrix}\;
5\;\begin{bmatrix}4\\8\end{bmatrix}\;
\_\;\begin{bmatrix}2\\6\end{bmatrix}\;
\_\;0
$$

Признаки делимости на 3, 6, 9. Наличие этих признаков вместе означает, что первые, вторые и третьи три цифры должны делиться на три. Можно сразу отметить, что с четвертой по шестую цифры будут либо 258,  либо 654 (сумма равна 15).

$$
\_\;\begin{bmatrix}4\\8\end{bmatrix}\;
\_\;\begin{bmatrix}2\\6\end{bmatrix}\;
5\;\begin{bmatrix}8\\4\end{bmatrix}\;
\_\;\begin{bmatrix}2\\6\end{bmatrix}\;
\_\;0
$$

Двинемся дальше и рассмотрим все уникальные комбинации, которые можно получить из цифр 1, 3, 7, 9 для первого и третьего места.

$$1+3=4$$
$$1+7=8$$
$$1+9=10$$
$$3+7=10$$
$$3+9=12$$
$$7+9=16$$

Если на втором месте стоит 4, то для признака на 3 нам подходит только комбинация из 1 и 7. Если стоит 8, то комбинации 1 и 3, 1 и 9, 3 и 7, 7 и 9.

Проверим сначала 4 на втором месте. Комбинации с 654 с 4-го по 6-ое место тут же отпадают:

$$147258$$
$$741258$$

На данном этапе всё работает. Подключим признак делимости на 7. Можем составить числа с 3 или 9 на седьмом месте, 1 и 7 уже использованы. Но так как возможной комбинацией с 3 является только 32 (признак на 8), то она отпадает, так как 2 уже использована на 4-ом месте

$$14725896$$
$$74125896$$

В данной ситуации не будем мучаться с признаком на 7, а просто поделим

In [9]:
numbers = [14725896, 74125896]

for i in numbers:
    display('{0} : 7 = {1}'.format(i, round(i / 7, 3)))

'14725896 : 7 = 2103699.429'

'74125896 : 7 = 10589413.714'

Удовлетворительный результат не получен. Значит, наше предположение о 4 на втором месте было неверным. Хоть это не положительный результат, он дает нам определенность по всем четным цифрам в числе и сокращает количество вариантов на седьмом месте

$$
\_ \quad 8 \quad
\_ \quad 6 \quad
5 \quad 4 \quad
\begin{bmatrix}3\\7\end{bmatrix} \quad 2 \quad
\_ \quad 0
$$